# ==========================================
# Posterizarr General & Media
# ==========================================
/images
*.gif
*.jpg
*.xlsm
*.otf
*.db

# ==========================================
# C# / .NET (Posterizarr.Plugin)
# ==========================================
# Exclude the folders that were cluttering your commit
**/[Bb]in/
**/[Oo]bj/
# Visual Studio specific
.vs/
*.user
*.userosscache
*.sln.docstates

# ==========================================
# Python (Modules & Backend)
# ==========================================
__pycache__/
*.py[cod]
*$py.class
.env
.env.dev
coverage.*
.pytest_cache/

# ==========================================
# IDE & System
# ==========================================
.vscode/
.idea/
.DS_Store
Thumbs.db

# ==========================================
# Mounted Volumes & App Data (Keep out of Git)
# ==========================================
config/
config.json
scheduler.json
MyPersonalConfig.json
/Logs/
/magick/
/RotatedLogs/
/temp/
/test/
/UILogs/
/assets/
/uploads/
/Overlayfiles/
/webui tests-infos/
/devUtils/
/Cache/

# Specific Asset files
4k.png
posteroverlay_0.7.png
webui/backend/config_tooltips.py.backup